{% extends "base.html" %}

{% block title %}
<div class="about_title">
    <h2>Gallery</h2>
</div>
{% endblock title %}

{% block content %}
{% load static %}

<section class="gallery">
    <div class="container">
        <div class="row mt-80">
            <div class="col-lg-6 mb-sm-30">
                <div class="col-12 p-0 mb-30">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
							{% comment %} <a href="#">View more</a> {% endcomment %}
						</figcaption>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 mb-80">
            <div class="col-lg-6 mb-sm-30">
                <div class="col-12 p-0 mb-30">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
							{% comment %} <a href="#">View more</a> {% endcomment %}
						</figcaption>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                {% comment %} <a href="#">View more</a> {% endcomment %}
                            </figcaption>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



{% endblock  %}