{% extends "base.html" %}

{% block title %}
<div class="about_title">
    <h2>Gallery</h2>
</div>
{% endblock title %}

{% block content %}
{% load static %}

<section class="gallery">
    <div class="container">
        {% comment %} <div class="row mt-80">
            <div class="col-lg-6 mb-sm-30">
                <div class="col-12 p-0 mb-30">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
							<a href="#">View more</a>
						</figcaption>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 mb-80">
            <div class="col-lg-6 mb-sm-30">
                <div class="col-12 p-0 mb-30">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
							<a href="#">View more</a>
						</figcaption>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                
                <div class="row">
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Bali.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="gallery-img-2 effect-milo">
                            <img src="{% static "images/Dubai.jpeg" %}" alt="">
                            <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="gallery-img-1 effect-milo">
                        <img src="{% static "images/Vietnam.jpeg" %}" alt="">
                        <figcaption>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <a href="#">View more</a>
                            </figcaption>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="row mt-80 posters">
            <div class="col-12">
                {% comment %} <h2>Posters</h2> {% endcomment %}
            </div>

            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_poster1.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_poster1.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_poster2.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_poster2.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_poster3.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_poster3.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_posters4.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_posters4.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_posters5.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_posters5.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_posters6.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_posters6.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_posters7.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_posters7.jpeg" %}">
                </div>
            </div>
        </div>

        <!-- Image Popup -->
        <div id="imagePopup" class="popup">
            <span class="close">&times;</span>
            <img class="popup-content" id="popupImage">
        </div>


        <div class="row mt-80">
            <div class="col-12 mb-50">
                {% comment %} <h2>Gallery</h2> {% endcomment %}
            </div>
            {% for pattern in patterns %}
                <!-- First Column -->
                <div class="col-lg-6 mb-sm-30">
                    {% if pattern.column1|length > 0 %}
                        <!-- Large Image -->
                        <div class="col-12 p-0 mb-30">
                            <div class="gallery-img-1 effect-milo">
                                <img src="{{ pattern.column1.0.image.url }}" alt="">
                                <figcaption>
                                    <p>{{ pattern.column1.0.caption }}</p>
                                </figcaption>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Two Smaller Images -->
                    <div class="row">
                        {% for img in pattern.column1|slice:"1:3" %}
                            <div class="col-6">
                                <div class="gallery-img-2 effect-milo">
                                    <img src="{{ img.image.url }}" alt="">
                                    <figcaption>
                                        <p>{{ img.caption }}</p>
                                    </figcaption>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        
                <!-- Second Column -->
                <div class="col-lg-6">
                    <!-- Two Smaller Images -->
                    <div class="row">
                        {% for img in pattern.column2|slice:":2" %}
                            <div class="col-6">
                                <div class="gallery-img-2 effect-milo">
                                    <img src="{{ img.image.url }}" alt="">
                                    <figcaption>
                                        <p>{{ img.caption }}</p>
                                    </figcaption>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if pattern.column2|length > 2 %}
                        <!-- Large Image -->
                        <div class="col-12 p-0">
                            <div class="gallery-img-1 effect-milo">
                                <img src="{{ pattern.column2.2.image.url }}" alt="">
                                <figcaption>
                                    <p>{{ pattern.column2.2.caption }}</p>
                                </figcaption>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        

    </div>
</section>



{% endblock  %}