{% extends "base.html" %}

{% block title %}
<div class="about_title">
    <h2>Posters</h2>
</div>
{% endblock title %}

{% block content %}
{% load static %}

<section class="gallery">
    <div class="container">
        <div class="row mt-80 mb-30 posters">
            

            {% comment %} <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_poster1.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_poster1.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_poster2.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_poster2.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_poster3.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_poster3.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_posters4.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_posters4.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_posters5.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_posters5.jpeg" %}">
                </div>
            </div>
            <div class="col-lg-4 hovers">
                <div class="poster_img">
                    <img src="{% static "images/gallery_posters6.jpeg" %}" alt="" class="pop-image" data-src="{% static "images/gallery_posters6.jpeg" %}">
                </div>
            </div> {% endcomment %}

            {% for poster in posters %}
                <div class="col-lg-4 hovers">
                    <div class="poster_img">
                        <img src="{{ poster.image.url }}" alt="{{ poster.title }}" class="pop-image" data-src="{{ poster.image.url }}">
                    </div>
                </div>
            {% endfor %}
            
        </div>

        <!-- Image Popup -->
        <div id="imagePopup" class="popup">
            <span class="close">&times;</span>
            <img class="popup-content" id="popupImage">
        </div>
    </div>
</section>



{% endblock  %}